<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<!-- <meta name="viewport" content="767px"> -->

		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="fonts/favicon.ico">

		<title>chuangxiang</title>

		<!-- bootstrap -->

		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

		<!-- customized -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/stylePhone.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">

	</head>

	<body>
		<!-- header -->
		<nav class="header">
			<div class="container">
				<div class="header-logo">
					<div class="logo">
						<a href="#"></a>
					</div>
					<p>释放创造力</p>
				</div>
				<div class="header-right">
					<a class="a-login" href="#">登录</a>
					<a class="a-register" href="#">免费注册</a>
				</div>
				<ul class="header-links">
					<li>
						<a href="#">服务中心</a>
					</li>
					<li>
						<a href="#">关于我们</a>
					</li>
					<li>
						<a href="#">产品介绍</a>
					</li>
					<li>
						<a href="#" class="active">首页</a>
					</li>
				</ul>
				<div class="headerPhone-moreBtn">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="headerPhone-content">
					<ul>
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">产品介绍</a>
						</li>
						<li>
							<a href="#">关于我们</a>
						</li>
						<li>
							<a href="#">服务中心</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- header end -->

		<!-- main -->
		<div class="main">
			<div class="index">
				<div class="scroll-ctx">
					<!-- bannar -->
					<div id="index-carousel" class="index-car carousel slide" data-ride="" style="height: 602px;">
						<ol class="carousel-indicators">
							<li data-target="#index-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#index-carousel" data-slide-to="1"></li>
							<li data-target="#index-carousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="listbox" style="height: 100%;">
							<div class="index-bannerInfo">
								<p class="bannerTitle">设计项目管理<span style="font-weight: bold;">精细化</span>和<span style="font-weight: bold;">专业化</span>的新可能</p>
								<p class="bannerWord">
									<span>仪表盘</span>
									<span>项目进程</span>
									<span>任务看板</span>
									<span>客户管理</span>
									<span>绩效管理</span>
									<span>文档管理</span>
									<span>报价管理</span>
									<span>灵感库</span>
								</p>
								<!-- <a href="" class="bannerBtn" ng-click="goRegister(user.phoneNumber1)">立即体验</a> -->
								<p class="registerBox" style="margin-top: 60px;">
									<input type="text" class="registerInput" placeholder="您的手机号码"><button class="registerBtn">免费注册</button>
								</p>
							</div>
							<div class="item the-first active">
								<div class="container">
									<div class="car-bg" style="background:url(images/banner-img1.jpg) 0 0 repeat-y"></div>
								</div>
							</div>
							<div class="item the-second">
								<div class="container">
									<div class="car-bg" style="background:url(images/banner-img2.jpg) 0 0 repeat-y"></div>
								</div>
							</div>
							<div class="item the-third">
								<div class="container">
									<div class="car-bg" style="background:url(images/banner-img3.jpg) 0 0 repeat-y"></div>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<!-- bannar end-->
					<!-- index-top-info -->
					<div class="index-topInfo">
						<div class="container">
							<ul>
								<li>
									<div class="topInfoImg img1"></div>
									<p>缩短规划和设计周期<span>35%</span></p>
								</li>
								<li>
									<div class="topInfoImg img2"></div>
									<p>激活个体和组织绩效<span>36%</span></p>
								</li>
								<li>
									<div class="topInfoImg img3"></div>
									<p>排除传统纸张的浪费<span>55%</span></p>
								</li>
								<li>
									<div class="topInfoImg img4"></div>
									<p>消除消息孤岛可追溯<span>67%</span></p>
								</li>
								<li>
									<div class="topInfoImg img5"></div>
									<p>提高销售管理转换率<span>32%</span></p>
								</li>
								<li>
									<div class="topInfoImg img6"></div>
									<p>提高运营效率和质量<span>22%</span></p>
								</li>
							</ul>
						</div>
					</div>
					<!-- index-top-info end-->
					<!-- index-functionPc -->
					<div id="index-function-carousel" class="index-function carousel slide" data-ride="">
						<ol class="carousel-indicators functionPC">
							<li data-target="#index-function-carousel" data-slide-to="0" class="functionTitle function1 active"><span>仪表盘</span></li>
							<li data-target="#index-function-carousel" data-slide-to="1" class="functionTitle function2"><span>项目进程</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="2" class="functionTitle function3"><span>任务看板</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="3" class="functionTitle function4"><span>客户管理</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="4" class="functionTitle function5"><span>绩效管理</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="5" class="functionTitle function6"><span>文档管理</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="6" class="functionTitle function7"><span>报价管理</span>
							</li>
							<li data-target="#index-function-carousel" data-slide-to="7" class="functionTitle function8"><span>灵感库</span>
							</li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item functionItem functionFirst active">
								<div class="container">
									<div class="functionImg img1"></div>
									<div class="functionWord" style="margin-left: 10px;">
										<p class="functionTitle">仪表盘</p>
										<p class="function-word">提供多维数据分析图表<br>人均项目和项目平均单价<br>当前工作统计等<br>运营数据了如指掌<br>心中有数才能更快作出下一步决策
										</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionSecond">
								<div class="container">
									<div class="functionImg img2"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">项目进程</p>
										<p class="function-word">轻松拆解复杂项目，项目进度一目了然<br>确保各项作业进行时间和逻辑上的<br>合理安排</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionThird">
								<div class="container">
									<div class="functionImg img3"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">任务看板</p>
										<p class="function-word">项目执行看的见，过程管的住<br>成果留的下，提升协同效率<br>无缝沟通</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionFourth">
								<div class="container">
									<div class="functionImg img4"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">客户管理</p>
										<p class="function-word">专为中小销售团队设计，无须培训<br>一看就懂，有效积累客户不在流失<br>实时记录所有销售活动</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionFifth">
								<div class="container">
									<div class="functionImg img5"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">绩效管理</p>
										<p class="function-word">帮组内部团队绩效与组织绩效的<br>一体化体现，绩效统计和日程<br>全员看得见，相互督促<br>相互提升</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionSixth">
								<div class="container">
									<div class="functionImg img6"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">文档管理</p>
										<p class="function-word">支持在线预览，文件版本管理<br>网银级加密，网盘共享协作，<br>公司级别的知识库</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionSeventh">
								<div class="container">
									<div class="functionImg img7"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">报价管理</p>
										<p class="function-word">工作计划，物料清单，服务列表<br>项目需求和进程简图<br>一键生成报价清单</p>
									</div>
								</div>
							</div>
							<div class="item functionItem functionEighth">
								<div class="container">
									<div class="functionImg img8"></div>
									<div class="functionWord" style="margin-left: 24px;">
										<p class="functionTitle">灵感库</p>
										<p class="function-word">一个收集网络上创意内容的站点<br>通过图片素材等方式来展示创意的<br>无穷魅力</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- index-functionPc end-->
					<!-- index-functionPhone -->
					<div class="index-functionPhone" style="height: 1000px;">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img1"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img2"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img3"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img4"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img5"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img6"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img7"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="functionItem-phone">
										<div class="container">
											<div class="functionImg-phone img8"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-pagination" style="bottom: 60px;"></div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
          <!-- index-functionPhone end-->
          <!-- index-enterprisePc -->
          <div class="index-enterprise" style="height: 756px;">
          	<div class="container">
          		<div class="enterpriseWordInfo">
          			<ul>
          				<li class="enterpriseWordInfoList list1" style="display: block;">
          					<div class="enterpriseWordImg img1"></div>
          					<div class="enterpriseBuildMan" >
          						<p>
          							“&nbsp;要一颗热爱生活热爱他人热爱社会的善心<br>
          							&nbsp;&nbsp;要一颗专注淡定孜孜以求的强心&nbsp;”
          						</p>
          						<p>刘诗锋</p>
          						<p>东方麦田创始人</p>
          					</div>
          				</li>
          				<li class="enterpriseWordInfoList list2">
          					<div class="enterpriseWordImg img2"></div>
          					<div class="enterpriseBuildMan">
          						<p>
          							“&nbsp;设计本是对生活的感悟，对事物的判断<br>
          							&nbsp;&nbsp;对未来的规划&nbsp;”
          						</p>
          						<p>经超</p>
          						<p>佳简几何创始人</p>
          					</div>
          				</li>
          				<li class="enterpriseWordInfoList list3">
          					<div class="enterpriseWordImg img3"></div>
          					<div class="enterpriseBuildMan">
          						<p>
          							“&nbsp;设计理念的延续，需要一个载体，<br>
          							&nbsp;&nbsp;并将其注入，更要经得起时间的考验&nbsp;”
          						</p>
          						<p>伍曦</p>
          						<p>伍曦创始人</p>
          					</div>
          				</li>
          				<li class="enterpriseWordInfoList list4">
          					<div class="enterpriseWordImg img4"></div>
          					<div class="enterpriseBuildMan" style="padding: 100px 50px">
          						<p>
          							“&nbsp;设计事务所遵循‘设计创造辨识度’这一设计<br>
          							&nbsp;&nbsp;原则，致力于为全球的客户提供高品质的、<br>
          							&nbsp;&nbsp;来自德国的‘企业产品设计’。&nbsp;”
          						</p>
          						<p></p>
          						<p>库尔兹设计事务所</p>
          					</div>
          				</li>
          			</ul>
          		</div>
          		<div class="enterpriseContent">
          			<ul>
          				<li class="enterpriseContentList list1">
          					<div class="enterpriseLogo logo1"></div>
          				</li>
          				<li class="enterpriseContentList list2">
          					<div class="enterpriseLogo logo2"></div>
          				</li>
          				<li class="enterpriseContentList list3">
          					<div class="enterpriseLogo logo3"></div>
          				</li>
          				<li class="enterpriseContentList list4">
          					<div class="enterpriseLogo logo4"></div>
          				</li>
          				<li>
          					<span>更多企业</span>
          				</li>
          			</ul>
          		</div>
          	</div>
          </div>
          <!-- index-enterprisePc end-->
          <!-- index-enterprisePhone -->         
          <div class="index-enterprisePhone" style="height: 850px;">
          	<div class="head">
          		<div class="container">
          			<p class="word">超过 1000 家企业正在使用<span class="logo"></span></p>
          			<p class="title">真正好用的 项目管理系统 只有您试过</p>
          		</div>
          	</div>
          	<div class="swiper-container" style="height: 500px;">
          		<div class="swiper-wrapper">
          			<div class="swiper-slide">
          				<div class="enterprisePhone">
          					<div class="container">
          						<div class="enterpriseLogo logo1"></div>
          						<span>广东省最具规模的设计创新机构<br>之一，广东省工业设计示范企业</span>
          					</div>
          				</div>
          			</div>
          			<div class="swiper-slide">
          				<div class="enterprisePhone">
          					<div class="container">
          						<div class="enterpriseLogo logo2"></div>
          						<span>中国工业设计历史上成立时间最短<br>获得国际设计大奖最多的工业设计公司</span>
          					</div>
          				</div>
          			</div>
          			<div class="swiper-slide">
          				<div class="enterprisePhone">
          					<div class="container">
          						<div class="enterpriseLogo logo3"></div>
          						<span>全球屈指可数的液体无菌包装<br>综合供应商之一，无菌卷筒材料<br>销量已跃居世界第二</span>
          					</div>
          				</div>
          			</div>
          			<div class="swiper-slide">
          				<div class="enterprisePhone">
          					<div class="container">
          						<div class="enterpriseLogo logo4"></div>
          						<span>自1992年成立以来，KurzKurzDesign<br>库尔兹-库尔兹设计事务所在全球<br>有四个办公地点</span>
          					</div>
          				</div>
          			</div>
          		</div>
          		<div class="swiper-pagination" style="bottom: 10px"></div>
              <!-- <div class="swiper-button-next"></div>
              	<div class="swiper-button-prev"></div> -->
              </div>
          </div>
          <!-- index-enterprisePhone end -->
          <!-- index-bottomInfo -->
          <div class="index-bottomInfo" style="height: 425px;">
          	<div class="container">
          		<div class="infoContent">
          			<ul>
          				<li>
          					<div class="bottomInfoImg img1"></div>
          					<p class="name">客户案例</p>
          					<p class="word">您最优秀的同行正在使用，获取更强大的项目管理系统，提高团队竞争力</p>
          				</li>
          				<li>
          					<div class="bottomInfoImg img2"></div>
          					<p class="name">获取支持</p>
          					<p class="word">我们为您提供 7X24 小时全天候客服支持，全面助力您的团队快速、高效地使用thikine</p>
          				</li>
          				<li>
          					<div class="bottomInfoImg img3"></div>
          					<p class="name">数据安全</p>
          					<p class="word">通过全方位的安全策略和完善的安全措施全力保护您的数据安全，让一切既便利又无忧</p>
          				</li>
          			</ul>
          		</div>
          	</div>
          </div>
          <!-- index-bottomInfo end -->
          <!-- index-portImg -->
          <div class="index-portImg" style="height: 940px;">
          	<div class="container">
          		<div class="word">
          			<div class="logo"></div>
          			<span>支持你的所有设备</span>
          		</div>
          		<div class="carImg"></div>
          	</div>
          </div>
          <!-- index-portImg end -->
          <!-- index-bottomCar -->
          <div class="index-bottomCar" style="height: 536px;">
          	<div class="container">
          		<div class="carImg"></div>
          		<div class="content">
          			<p class="word1">非常期待您的邀约</p>
          			<p class="word2">一场简短的交流或许会有意外的收</p>
          			<a href="" class="bottomCarBtn" ng-click="goRegister(user.phoneNumber1)">立刻体验</a>
          		</div>
          	</div>
          </div>
          <!-- index-bottomCar end -->
      </div>
      <!-- scroll-ctx -->
  </div>
  <!-- index -->
</div>
<!-- main -->

		<footer class="footer">
			<div class="container">
				<div class="footer-href">
					<ul>
						<li>
							<p class="hrefTitle">产品</p>
							<p>
								<a href="">下载</a>
							</p>
							<p>
								<a href="">产品介绍</a>
							</p>
							<p>
								<a href="">更新日志</a>
							</p>
							<p>
								<a href="">收集插件</a>
							</p>
						</li>
						<li>
							<p class="hrefTitle">资源</p>
							<p>
								<a href="">解决方案</a>
							</p>
							<p>
								<a href="">客户案例</a>
							</p>
							<p>
								<a href="">视频教程</a>
							</p>
						</li>
						<li>
							<p class="hrefTitle">公司</p>
							<p>
								<a href="">关于我们</a>
							</p>
							<p>
								<a href="">加入我们</a>
							</p>
						</li>
					<!-- 	<li class="partner">
							<p class="hrefTitle">合作伙伴</p>
							<p><a class="href1" href="https://www.aliyun.com/" target="_blank"></a></p>
							<p><a class="href2" href="https://www.qiniu.com" target="_blank"></a></p>
							<p><a class="href3" href="https://tongji.baidu.com" target="_blank"></a></p>
							<p><a class="href4" href="https://www.jiguang.cn/" target="_blank"></a></p>
							<p><a class="href5" href="https://www.umeng.com/" target="_blank"></a></p>
						</li> -->
						<li class="lnkBox">
							<p class="hrefTitle" style="text-align: center;">沟通联系</p>
							<ul class="lnk-list">
								<li>
									<span class="lnkWeChat"></span>
									<a class="lnkWeChat" href="#"></a>
									<div class="pop-tips">
										<div class="pop-tips-bg">
											<p class="top">微信客服</p>
											<p>请扫描二维码</p>
											<div class="imgFrame">
												<img src="images/2d-code.jpg" />
											</div>
										</div>
									</div>
								</li>
								<li>
									<span class="lnkWeiBo"></span>
									<a class="lnkWeiBo" href="#"></a>
								</li>
								<li>
									<span class="lnkQQ"></span>
									<a class="lnkQQ" href="#"></a>
									<div class="pop-tips">
										<div class="pop-tips-bg">
											<p class="top">QQ客服号码</p>
											<p>3179796422</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="footer-logo">
					<div class="logo"></div>
					<p><span class="line"></span><span>释放创造力</span><span class="line"></span></p>
				</div>
				<div class="footer-safe">
					<a href="http://www.miitbeian.gov.cn">粤ICP备12087129号-3</a> 创想引擎 Copyright © 2016-<span ng-bind="curDate" class="ng-binding">2018</span> www.thinkine.com
					<a href="http://webscan.360.cn/index/checkwebsite/url/www.thinkine.com" target="_blank">
						<img src="https://image.thinkine.com/bottom-img1.jpg">
					</a>
				</div>
			</div>
		</footer>

		<footer class="footerPhone hide">
			<div class="part1">
				<div class="container">
					<div class="footerPhone-function footerPhone-product">
						<div class="head product">
							<span class="name">产品</span><span class="caret"></span>
						</div>
						<ul class="showfunction productUl">
							<li>下载</li>
							<li>产品介绍</li>
							<li>更新日志</li>
							<li>收集插件</li>
						</ul>
					</div>
					<div class="footerPhone-function footerPhone-resource">
						<div class="head resource">
							<span class="name">资源</span><span class="caret"></span>
						</div>
						<ul class="showfunction resourceUl">
							<li>解决方案</li>
							<li>客户案例</li>
							<li>视频教程</li>
						</ul>
					</div>
					<div class="footerPhone-function footerPhone-company">
						<div class="head company">
							<span class="name">公司</span><span class="caret"></span>
						</div>
						<ul class="showfunction companyUl">
							<li>关于我们</li>
							<li>加入我们</li>
						</ul>
					</div>
					<div class="footerPhone-function footerPhone-link">
						<div class="head link">
							<span class="name">联系</span><span class="caret"></span>
						</div>
						<ul class="showfunction linkUl">
							<li>（售前）邓总监：18928490667</li>
							<li>（售后）黎经理：13509611165</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="part2">
				<div class="container">
					<div class="head1">
						<div class="footerPhone-logo"></div>
						<p><span class="line"></span><span>释放创造力</span><span class="line"></span></p>
					</div>
					<div class="head2">
						<div class="head2Content">
							<div class="footerPhone-weiChat">
								<div class="weiChatImg"></div>
								<div class="showBox weiChatCode">
									<p>微信客服</p>
									<p>请扫描二维码</p>
									<div class="codeImg"></div>
								</div>
							</div>
							<div class="footerPhone-blog">
								<div class="blogImg"></div>
							</div>
							<div class="footerPhone-qq">
								<div class="qqImg"></div>
								<div class="showBox qqNumber">
									<p>QQ客服号码</p>
									<p>3179796422</p>
								</div>
							</div>
						</div>
					</div>
					<div class="footerPhone-bottom">
						<p>粤ICP备12087129号-3 创想引擎</p>
						<p>Copyright © 2007-2018 www.thinkine.com</p>
						<div class="logo"></div>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/thinkine-official.js"></script>

    <script type="text/javascript" src="js/swiper.min.js"></script>


    <script>
      var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>

	</body>

</html>